h1{
    background-color:darkgray;
    font-family: 'Ibarra Real Nova', serif;
}
body{
    background-color:peru;
    font-family: 'Ibarra Real Nova', serif;
    
}
a {
  text-decoration:none;
}
table,td,th,tr {
    border: 500px;
}